<link rel="stylesheet" href="css/index.css">
<section id="header-wrap">
    <div class="header-top"></div>
    <div class="avatar-info">
        <img src="images/avatar.jpg" class="img-circle" alt="">
    </div>
    <div class="desc-content">
        <b class="nickname">Forwhat</b>
        <p><b class="job">Web Front-end Developer</b></p>
        <p class="high-light-text">行走于代码行之间，还原视觉设计</p>
        <p class="high-light-text">专注于标准，重视交互</p>
        <p class="high-light-text">热爱生活，崇尚创新,追求极致的用户体验</p>
    </div>
    <div class="personal-link"></div>
</section>
<section id="duty-wrap">
    <h1 class="center-align">我的日常工作</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-md-4">
                <div class="todo-list">
                    <h2 class="center-align">任务列表</h2>
                    <ul>
                        <li><span class="glyphicon glyphicon-ok"></span>配合UCD、产品经理，高度还原视觉设计稿</li>
                        <li><span class="glyphicon glyphicon-ok"></span>公共组件封装</li>
                        <li><span class="glyphicon glyphicon-ok"></span>前后端数据交互</li>
                        <li><span class="glyphicon glyphicon-ok"></span>页面重构</li>
                        <li><span class="glyphicon glyphicon-ok"></span>性能优化</li>
                    </ul>
                </div>
                <div class="additional">
                    <h2 class="center-align">辅助技能</h2>
                    <ul>
                        <li>
                            <div class="hexagon">
                                <div class="rectangle ret1"></div>
                                <div class="rectangle ret2">Ps</div>
                                <div class="rectangle ret3"></div>
                            </div>
                        </li>
                        <li>
                            <div class="hexagon">
                                <div class="rectangle ret1"></div>
                                <div class="rectangle ret2">Java</div>
                                <div class="rectangle ret3"></div>
                            </div>
                        </li>
                        <li>
                            <div class="hexagon">
                                <div class="rectangle ret1"></div>
                                <div class="rectangle ret2">PHP</div>
                                <div class="rectangle ret3"></div>
                            </div>
                        </li>
                        <li>
                            <div class="hexagon">
                                <div class="rectangle ret1"></div>
                                <div class="rectangle ret2">DB</div>
                                <div class="rectangle ret3"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skill-line">
                    <h2 class="center-align">技能条</h2>
                    <span><b>HTML5</b></span>
                    <div class="progress">
                        <div id="progress-html5" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span><b>CSS3</b></span>
                    <div class="progress">
                        <div id="progress-css3" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span><b>Bootstrap</b></span>
                    <div class="progress">
                        <div id="progress-boot" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span><b>Jquery</b></span>
                    <div class="progress">
                        <div id="progress-jq" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span><b>Vue</b></span>
                    <div class="progress">
                        <div id="progress-vue" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <span><b>Node</b></span>
                    <div class="progress">
                        <div id="progress-node" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-sm"></div>
        </div>
    </div>
</section>
<section id="project-wrap">
    <h1 class="center-align">参与的项目</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="pro-content">
                    <div class="bottom-line">
                        <i class="fa fa-desktop fa-3x"></i>
                    </div>
                    <h4 class="center-align">视频会议多终端融合平台</h4>
                    <p class="pro-desc">Ec6.0是华为IPT(IP Telephony)、UC（Unified Communications）和VC(视频会议)三大平台的融合，形成呼叫控制、媒体处理、业务处理和管理维护统一。融合平台支持Pc、手机、平板、IP话机、视频话机、智能终端同时接入会议，实现企业全终端全屏的一致体验。</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pro-content">
                    <div class="bottom-line">
                        <i class="fa fa-html5 fa-3x"></i>
                    </div>
                    <h4 class="center-align">B2C在线商城WebApp</h4>
                    <p class="pro-desc">空色美术商城是一家美术人的专业购物中心，本商城属于美术类团购自营模式，主要销售美术书、画笔、颜料、水粉等商品。同时，美术圈的话题、动态以及绘画的教学视频都集成于一体，吸纳第三方画材商的入驻。</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pro-content">
                    <div class="bottom-line">
                        <i class="fa fa-pie-chart fa-3x"></i>
                    </div>
                    <h4 class="center-align">保密管理平台</h4>
                    <p class="pro-desc">保密管理平台主要为军工单位开发的一个管理保密相关业务流程的平台。主要涉及涉密人员、设备、载体等状态管理以及流程审批，另外附有监督检查和统计等功能。</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pro-content">
                    <div class="bottom-line">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <h4 class="center-align">个人项目</h4>
                    <div class="blog-desc">
                        我的博客
                        <br> 技术：Node+Express+Vue
                        <br> 模块：首页、动态、笔记、Demo和分享
                        <br> 状态：奋力开发者，暂未上线
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<section id="exp-wrap">
    <h1 class="center-align">个人经历</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="exp-item">
                    <div class="panel panel-gray">
                        <div class="panel-heading">xxx公司，web前端、数据交互</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">new date()</div>
                    </div>
                    <div class="time-dot"></div>
                </div>
                <div class="exp-item">
                    <div class="panel panel-gray">
                        <div class="panel-heading">xxx公司，web前端，H5页面开发</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">2016-04</div>
                    </div>
                    <div class="time-dot"></div>
                </div>
                <div class="exp-item">
                    <div class="panel panel-gray">
                        <div class="panel-heading">xxx公司，java软件工程师</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">2015-03</div>
                    </div>
                    <div class="time-dot"></div>
                </div>
                <div class="exp-item">
                    <div class="panel panel-gray">
                        <div class="panel-heading">接触H5,CSS3,Jquery</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">2014-03</div>
                    </div>
                    <div class="time-dot"></div>
                </div>
                <div class="exp-item">
                    <div class="panel panel-gray">
                        <div class="panel-heading">参加大学生创业创新项目</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">2013-11</div>
                    </div>
                    <div class="time-dot"></div>
                </div>
                <div class="exp-item">
                    <div class="panel panel-gray">
                        <div class="panel-heading">自学PS，flash</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">2012-10</div>
                    </div>
                    <div class="time-dot"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<script src="js/index.js"></script>
